@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "/animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .light {
  --background: 255, 255, 255;
  --text: 0, 0, 0;
}

.dark {
  --background: 0, 0, 0;
  --text: 255, 255, 255;
} */

h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}

.work-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.work-card-1 {
  position: absolute;
  background-color: rgb(0, 0, 0,0.8);
  z-index: 5;
  height: 0;
  width: 100%;
  transition: height .5s ease-in-out;
}

.work-card-2 {
  position: absolute;
  z-index: 5;
  background-color: rgb(0, 0, 0,0.8);
  height: 0 ;
  width: 100%;
  transition: height .5s ease-in-out;
  bottom: 0;
}

.work-card-img {
  position: absolute;
  height: 100%;
  z-index: 1;
}

.work-card:hover .work-card-1 {
  height: 50%;
}

.work-card:hover .work-card-2 {
  height: 50%;
}

.work-card:hover .work-card-text {
  opacity: 1;
}

.namesvg svg path{
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: textAnimation 2s ease-in-out 1 forwards;
}

@keyframes textAnimation{
  0%{
    stroke-dashoffset: 140;
  }
  70%{
    fill: transparent;
  }
  100%{
    fill: #fff;
    stroke-dasharray: 0;
  }
}